.About {
  margin-top: 50px;
  text-align: center;
}

/* Style the h1 and h2 tags */
.About h1 {
  font-size: 2.5rem;
  font-weight: bold;
}

.About h2 {
  font-size: 2rem;
  font-weight: bold;
  margin-top: 50px;
}

/* Style the image */
.About img {
  max-width: 400px;
  margin-top: 50px;
}

/* Style the paragraph */
.About p {
  font-size: 1.2rem;
  line-height: 1.5;
  margin-top: 25px;
}